<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealer Reviews - Best Cars Dealership</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Add a navbar here -->
    <section class="container mt-5">
        <h2 class="text-center mt-5">Dealer ID:{{ id }} Reviews</h2>
        {% if user.is_authenticated %}
        <div class="text-center mb-3">
            <a href="{% url 'djangoapp:review' id %}" class="btn btn-primary">Add Review</a>
        </div>
        {% endif %}
        <div class="card-columns">
            {% for review in reviews %}
            <div class="card my-3 text-center">
                <img class="card-img-top" src="{% if review.sentiment == 'Positive' %}{{ MEDIA_URL }}emoji/positive.png{% elif review.sentiment == 'Neutral' %}{{ MEDIA_URL }}emoji/neutral.png{% else %}{{ MEDIA_URL }}emoji/negative.png{% endif %}" alt="Emoji representing the review sentiment" style="width: 30px; height: 30px;">
                <div class="card-body">
                    <h5 class="card-title">{{ review.car_model }} - {{ review.car_make }} - {{ review.car_year }}</h5>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Add a footer here -->
    {% include 'partials/footer.html' %}
</body>
</html>
