<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Best Cars Dealership</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'partials/nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!--Add a registration form here -->
                <h2 class="my-4 text-center">Sign Up</h2>
                <form  name="registration" action="{% url 'djangoapp:registration' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="user" id='user' required>
                    </div>
                    <div class="form-group">
                        <label for="firstname">First name</label>
                        <input type="text" class="form-control" placeholder="First name" name="firstname" id='firstname'>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name" name="lastname" id='lastname'>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="psw" id="psw" required>
                    </div>
                    <div class="form-group">
                        <label for="cpwd">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="cpsw" id="cpsw" required>
                    </div>            
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </form>

                {% if request.GET.success == 'True' %}
                    <div class="alert alert-success mt-3" role="alert">
                        User is successfully registered.
                    </div>
                {% elif request.GET.success == 'False'%}
                    <div class="alert alert-danger mt-3" role="alert">
                        User with this username already exists.
                    </div>
                {% endif %}

                <div class="mt-4">
                    <p id="password"></p>
                    <h5>Password must contain the following:</h5>
                    <ul>
                        <li>Lowercase Letter</li>
                        <li>Capital Letter</li>
                        <li>Number</li>
                        <li>8 characters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

    <script src="{% static 'registration.js' %}"></script>
</body>
</html>
