<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Best Cars Dealership</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    {% include 'partials/nav.html' %}
    <!--Add a registration form here -->
    <form class="form-inline" name="registration" action="{% url 'djangoapp:registration'%}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" name="user"  required>
            <input type="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="psw" id="psw" required>
            <input type="password" class="form-control" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="cpsw" id="cpsw" required>
            <button class="btn btn-primary" type="submit">Register </button>
        </div>
    </form>
    <div> 
        <p id="password"></p>
        <h5>Password must contain the following:</h5>
        <ul>
            <li>
                Lowercase Letter
            </li>
            <li>
                Capital Letter
            </li>
            <li>
                Number
            </li>
            <li>
                8 characters
            </li>
        </ul>
    </div>
	{% include 'partials/footer.html' %}
    </body>
    <script src="{% static 'registration.js' %}"></script>
</html>